{
  "secret": "bogus",
  "frontEndOrigin": "http://localhost:3030",
  "serverOrigin": "http://localhost:5000",
  "sentry": "",
  "segment": "",
  "oauth": {
    "facebook": {
      "clientID": "bogus",
      "clientSecret": "bogus"
    },
    "google": {
      "clientID": "bogus",
      "clientSecret": "bogus"
    }
  }
}
